<div mat-dialog-title class="title">
  Авторизація
</div>
<div mat-dialog-content>
  <p>Авторизація дозволить вам <br>коментувати та лайкати статті :)</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="auth.googleLogin()" class="google-login-button"><img  src="../../../assets/images/google-login.png">Увійти через Google акаунт</button>
</div>
