.container{
  width: max-content;
}
.editor-container{
  display: flex;
  flex-direction: column;
  justify-content: center ;
  max-width: 941px;
}
.error{
  color: red;
}
.fields{
  display: flex;
  flex-direction: column;
}
.nav-button {
  outline: none;
  font-size: 17px;
  margin-top: 20px;
  margin-right: 20px;
  //background-color: #00838F;
  border: 3px solid black;
  border-radius: 10px;
}
/deep/ .mat-tab-list {
  .mat-tab-label {
    flex-basis: 0;
    flex-grow: 1
  }
}

