<div class="container">
  <mat-tab-group class="editor-tab" [(selectedIndex)]="tabIndex" (selectedTabChange)="unloadTinyMce()" (animationDone)="updateEditor()">
    <mat-tab label="Створити статтю" position="0">
      <mat-horizontal-stepper class="editor-container" [linear]="false" #stepper>
        <mat-step>
          <ng-template matStepLabel>створіть наповнення вашої статті</ng-template>
          <editor *ngIf="loadEditor" apiKey="klnv7qlldv3khwqgrydbfre5pshf8svfseqciunignwxqdra" [(ngModel)]="content"
                  [init]=
                    "{plugins: ['link', 'paste', 'table', 'image', 'hr', 'insertdatetime', 'media', 'anchor', 'preview', 'contextmenu'],
            width: '700'}"
          ></editor>
          <div>
            <button mat-button class="nav-button" matStepperNext>Далі</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>заповніть додаткову інформацію</ng-template>
          <div class="fields">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Заголовок" [(ngModel)]="title">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Рубрика" [(ngModel)]="rubric">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Адреса картинки" [(ngModel)]="artImage">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Теги через пробіл" [(ngModel)]="tags">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Тиждень" [(value)]="this.articleWeek">
                <mat-option *ngFor="let week of weeks$ | async" value="{{week.name}}">
                  {{week.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Автор" [(value)]="this.authorName">
                <mat-option *ngFor="let author of authors$ | async" value="{{author.name}}">
                  {{author.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button mat-button class="nav-button" matStepperPrevious>Назад</button>
              <button mat-button class="nav-button" matStepperNext>Далі</button>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          You are now done.
          <div>
            <button mat-button class="nav-button" matStepperPrevious>Назад</button>
            <button mat-button class="nav-button" (click)="stepper.reset()">На початок</button>
            <button mat-button class="nav-button" (click)="this.addArticle()">Додати статтю:)</button>
            <label class="error">{{errorMessage}}</label>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-tab>
    <mat-tab label="Додати тиждень">
      <div class="fields">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Назва тижня" [(ngModel)]="weekName">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Посилання на картинку" [(ngModel)]="weekImg">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea  matInput placeholder="Опис" [(ngModel)]="weekDeskr"></textarea>
        </mat-form-field>
        <div>
          <button mat-button class="nav-button" (click)="AddWeek()">Додати тиждень - клікати сюди!</button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Додати автора">
      <div class="fields">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Ім'я та прізвище/псевдонім автора" [(ngModel)]="authorDisplayName">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Посилання на фб)" [(ngModel)]="authorFbLink">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Адреса аватарки автора)" [(ngModel)]="authorImg">
        </mat-form-field>
        <div>
          <button mat-button class="nav-button" (click)="AddAuthor()">Додати автора - клікати сюди!</button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

