<ng-template class="search-container-page" #notfoundtemp>
  На жаль, жодної статті не знайдено.
  <button mat-button class="index-action" routerLink="/">На домашню</button>
</ng-template>
<div class="search-container-page" *ngIf="!notFound; else notfoundtemp">
  <mat-grid-list [cols]="breakpoint" rowHeight="16:9" class="art-list" [gutterSize]="gutter" (window:resize)="onResize($event)" [style.width.px]="width">
    <div class="article-tiles">
      <mat-grid-tile class="article-tile" *ngFor="let article of articles$ | async; index as i; " [colspan]="tiles[i].cols" [class.mat-elevation-z10]="true" [rowspan]="tiles[i].rows">
        <a [routerLink]="['/article', article.title]"><img class="art-img" [src]="article.img"></a>
        <div [innerHTML]="article.content.toString().substr(0, 200) | safeHtml" class="img-overlay">
        </div>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
  <div class="index-actions">
    <button mat-button class="index-action" *ngIf="articleService.GetPaginateCounter()" (click)="prevPage()">Попередня сторінка</button>
    <span class='spacer'></span>
    <button mat-button class="index-action" *ngIf="articleService.nextPageExists" (click)="nextPage()">Наступна сторінка</button>
  </div>
</div>
