.random-art-button{
  text-decoration: none;
  font-family: B52;
  color: black;
  font-size: 17px;
  //background-color: #00838F;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 0 20px rgba(0,0,0,1);
}
.index-actions{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.index-action{
  outline: none;
  margin-top: 50px;
  font-family: B52;
  color: black;
  font-size: 17px;
  //background-color: #00838F;
  width: 200px;
  box-shadow: 0 0 20px rgba(0,0,0,1);
}
.search-container-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.spacer{
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.art-img{
  display: block;
  width: 100%;
  height: auto;
}
.img-overlay{
  height: auto;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.article-tile{
  transition: transform .5s ease-in-out;
  margin-bottom: 30px;
  box-shadow: 0 0 20px rgba(0,0,0,1);
  &:hover{
    z-index: 4;
    transform: scale(1.2);
  }
  &:hover .img-overlay{
    opacity: 1;
  }
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}
.tag {
  width: 50px;
  height: 30px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
