<div class="index-container-page">
  <a mat-button class="random-art-button" (click)="randomArticle()">випадкова стаття</a>
  <mat-grid-list [cols]="breakpoint" rowHeight="16:9" [gutterSize]="gutter" (window:resize)="onResize($event)" [style.width.px]="width">
    <div class="article-tiles">
      <mat-grid-tile class="article-tile" *ngFor="let article of articles$ | async; index as i; " [colspan]="tiles[i].cols" [rowspan]="tiles[i].rows">
        <a [routerLink]="['/article', article.title]"><img class="art-img" [src]="article.img"></a>
        <div [innerHTML]="article.content.toString().substr(0, 200) | safeHtml" class="img-overlay">
        </div>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
  <div class="index-actions">
    <button mat-button class="index-action" *ngIf="articleService.GetPaginateCounter()" (click)="prevPage()">Попередня сторінка</button>
    <span class='spacer'></span>
    <button mat-button class="index-action" *ngIf="articleService.nextPageExists" (click)="nextPage()">Наступна сторінка</button>
  </div>
</div>
<div class="weeks-container">
  <div class="carousel-weeks">
    <ngb-carousel>
      <ng-template ngbSlide class="slide" *ngFor="let week of weeks$ | async">
        <div class="slide-img-overlay-container">
          <a [routerLink]="['/week', week.name]"><img [src]="week.img" class="slide-img"></a>
          <div class="img-overlay">
            {{ week.deskr }}
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
