.index-container-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto 50px auto; }

.random-art-button {
  text-decoration: none;
  font-family: B52;
  color: black;
  font-size: 17px;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 3px solid black;
  border-radius: 10px; }

.index-actions {
  display: flex;
  flex-direction: row;
  width: 100%; }

.index-action {
  outline: none;
  margin-top: 50px;
  font-family: B52;
  color: black;
  font-size: 17px;
  background-color: #00838F;
  width: 200px;
  box-shadow: 0 0 20px black; }

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.art-img {
  display: block;
  width: 100%;
  height: auto; }

.img-overlay {
  height: auto;
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.6);
  /* Black see-through */
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center; }

.article-tile {
  padding-right: 20px;
  padding-left: 20px;
  transition: transform .5s ease-in-out;
  box-shadow: 0 0 20px black; }
  .article-tile:hover {
    z-index: 4;
    transform: scale(1.2); }
  .article-tile:hover .img-overlay {
    opacity: 1; }

.weeks-container {
  min-width: calc(100vw - 18px);
  max-width: 100vw;
  min-height: calc(100vh - 281px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: B52;
  color: white; }

.carousel-weeks {
  margin: 50px auto;
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 0 20px black; }

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.slide-img-overlay-container {
  position: relative;
  max-width: 1280px; }
  .slide-img-overlay-container:hover .img-overlay {
    opacity: 1; }

.slide-img {
  display: block;
  width: 100%;
  height: auto; }

ngb-carousel {
  outline: none !important; }

/*# sourceMappingURL=index.component.css.map */
