<div class="article-container" *ngIf="author$ | async; else loading">
  <button mat-button class="comment-button" [routerLink]="['/editor', article.title]" *ngIf="auth.editor">Редагувати</button>
  <h1 id="title">{{ article.title }}</h1>
  <a href="{{ author.facebook }}" target="_blank" id="author-ref">{{ author.name }} {{ article.createdAt.toDate() | date}}</a>
  <img class="article-image" src="{{ article.img }}">
  <div [innerHTML]="article.content | safeHtml" class="article-content">
  </div>
  <p id="art-footer">©2018, Підземка. Використання матеріалів лише за умови гіперпосилання на платформу «Підземка» із зазначенням імені автора(-ки) статті.<br>t.me/pidzemka</p>
  <button mat-button class="nav-button-20">Найкраще дякую -<br>20 грн:)</button>
  <div class="pre-comment">
    <h4 *ngIf="comments$; else zerocomments">Коментарів: {{ commentsLength }}</h4>
    <ng-template #zerocomments>
      <h4>Цю статтю ще ніхто не коментував</h4>
    </ng-template>
    <p *ngIf="!authenticated()">Залишати коментарі можуть лиш <a id="login-link" (click)="openLoginDialog()">авторизовані</a> користувачі</p>
  </div>
  <div class="add-comment" *ngIf="authenticated()">
    <editor apiKey="klnv7qlldv3khwqgrydbfre5pshf8svfseqciunignwxqdra" maxlength="300" [(ngModel)]="commentText"
            [init]=
              "{plugins: ['link', 'paste', 'image'],
              width: '560'}"
    ></editor>
    <label *ngIf="notValidComment()" class="mat-error">{{errorMessage}}</label>
    <button mat-button class="comment-button" (click)="addComment()" [disabled]="notValidComment()">Надіслати</button>
  </div>
  <mat-list class="comments" *ngIf="users">
    <mat-list-item *ngFor="let comment of comments$ | async; index as i">
      <img mat-list-avatar *ngIf="users[i]" src="{{users[i].photoURL}}">
      <h4 mat-line *ngIf="users[i]">{{ users[i].displayName }}</h4>
      <div mat-line class="comment-content" [innerHTML]="comment.content | safeHtml" ></div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
<ng-template #loading>
  <img src="../../../assets/images/loading.gif">
</ng-template>
