.article-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 560px;
  margin-top: 50px;
  margin-bottom: 50px; }

::ng-deep .mat-line {
  word-wrap: break-word !important;
  white-space: pre-wrap !important; }

::ng-deep .mat-list .mat-list-item {
  height: initial !important; }

.comments {
  max-width: 560px; }

.article-image {
  width: 100%;
  height: auto;
  display: block; }

#title {
  text-align: center; }

a {
  text-decoration: none; }

.article-container.img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

#author-ref {
  text-decoration: none;
  color: #00838F;
  align-self: center;
  padding-bottom: 25px; }

.nav-button-20 {
  outline: none;
  color: black;
  font-family: B52;
  font-size: 18px;
  margin-bottom: 50px;
  align-self: center;
  line-height: 27px;
  width: 250px;
  border: 3px solid black;
  border-radius: 10px; }

.comment-button {
  margin-left: auto;
  outline: none;
  color: black;
  max-width: min-content;
  margin-top: 30px;
  font-family: B52;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 10px; }

.add-comment {
  width: 560px;
  display: flex;
  flex-direction: column; }

#art-footer {
  font-style: italic; }

#loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.pre-comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left; }

#login-link {
  text-decoration: none; }
  #login-link:hover {
    cursor: pointer; }

.comment-content {
  font-family: sans-serif;
  font-size: 15px; }

/*# sourceMappingURL=article.component.css.map */
