.weeks-container {
  min-width: calc(100vw - 18px);
  max-width: 100vw;
  min-height: calc(100vh - 281px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: B52;
  color: white; }

.carousel-weeks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  box-shadow: 0 0 20px black; }

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.slide-img-overlay-container {
  position: relative;
  max-width: 1280px; }
  .slide-img-overlay-container:hover .img-overlay {
    opacity: 1; }

.slide-img {
  display: block;
  width: 100%;
  height: auto; }

.img-overlay {
  height: auto;
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.6);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center; }

ngb-carousel {
  outline: none !important; }

/*# sourceMappingURL=weeks.component.css.map */
