<div class="weeks-container">
  <h1>Тижні</h1>
  <div class="carousel-weeks">
    <span class='spacer'></span>
    <ngb-carousel>
      <ng-template ngbSlide class="slide" *ngFor="let week of weeks$ | async">
        <div class="slide-img-overlay-container">
          <a [routerLink]="['/week', week.name]"><img [src]="week.img" class="slide-img"></a>
          <div class="img-overlay">
            {{ week.deskr }}
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
    <span class='spacer'></span>
  </div>
</div>
