<div class="week-container" *ngIf="week$ | async">
  <img class="week-img" src="{{week.img}}">
  <p>{{ week.deskr }}</p>
  <div class="week-articles">
    <a class="article-img" *ngFor="let article of articles$ | async" [routerLink]="['/article', article.title]"><img [src]="article.img"></a>
  </div>
</div>
