.week-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 560px;
}
.week-img{
  height: auto;
  margin-top: 50px;
  margin-bottom: 25px;
}
.week-articles{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 560px;
  img{
    max-width: 560px;
  }
}
.article-img{
  transition: transform .5s ease-in-out, margin-bottom .3s ease-in-out, margin-top .3s ease-in-out;
  margin-bottom: 30px;
  box-shadow: 0 0 20px rgba(0,0,0,1);
  &:hover{
    transform: scale(1.3);
    margin-top: 40px;
    margin-bottom: 70px;
  }
}
