.main-container {
  min-width: 100%; }

.main-container, .toolbar {
  justify-content: center; }

.main-nav {
  justify-content: center;
  border: 3px solid black;
  border-radius: 10px;
  position: fixed;
  height: 81px;
  z-index: 2; }

.side-nav-content {
  justify-content: center; }

.side-nav {
  background-color: #1B1B1B;
  margin-top: 81px;
  align-items: center;
  min-height: calc(100vh - 281px); }

.main-body {
  min-height: calc(100vh - 281px);
  width: 100%;
  margin-top: 81px;
  display: flex;
  justify-content: center; }

.footer {
  flex: 1 100%;
  height: 200px;
  color: white;
  font-family: B52;
  justify-content: center;
  border: 3px solid black;
  border-radius: 10px; }

.hidden-nav {
  justify-content: left; }

.logo {
  margin-left: 20px;
  margin-right: 20px; }

a {
  text-decoration: none;
  color: white; }

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

#how-to {
  font-size: 1.5em; }

.ico {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 15px;
  border-radius: 50%;
  border: 3px solid black;
  transition: transform .5s ease-in-out, background-color .5s ease-in-out; }
  .ico:hover {
    z-index: 4;
    transform: scale(1.2); }
  .ico:active:before {
    background-color: rgba(0, 131, 143, 0.3); }

/deep/ .drop-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px; }

img {
  display: inherit;
  margin: auto; }

/*# sourceMappingURL=app.component.css.map */
