<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container">
    <mat-toolbar class="main-nav">
      <mat-toolbar-row fxShow="true" fxHide.lt-md="true" class="toolbar">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a routerLink="/"><img src="../assets/images/logo.png" class="logo"></a>
        <a mat-button appNavButton [matMenuTriggerFor]="menu">рубрики<mat-icon>keyboard_arrow_down</mat-icon></a>
        <a mat-button appNavButton routerLink="/about-us">про нас</a>

        <div *ngIf="auth.editor">
          <a mat-button appNavButton routerLink="/editor">редактор</a>
        </div>
        <label class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons color-white" (click)="openSearchDialog()">search</i>
        </label>
        <div *ngIf="auth.authenticated; else guest">
          <a mat-button appNavButton (click)="auth.signOut()">вийти</a>
        </div>
        <ng-template #guest>
          <a mat-button appNavButton (click)="openLoginDialog()">увійти</a>
        </ng-template>
      </mat-toolbar-row>

      <mat-toolbar-row fxShow="true" fxHide.gt-sm="true" class="hidden-nav">
        <a mat-button appNavButton (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></a>
        <a routerLink="/"><img src="../assets/images/logo.png"></a>
        <span class='spacer'></span>
        <label class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons color-white" (click)="openSearchDialog()">search</i>
        </label>
        <div *ngIf="auth.user$ | async as user; else guest">
          <a mat-button appNavButton (click)="auth.signOut()">вийти</a>
        </div>
        <ng-template #guest>
          <a mat-button appNavButton (click)="openLoginDialog()">увійти</a>
        </ng-template>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container style="position: absolute; left: 0; width: 100%">

      <mat-sidenav #sidenav mode="side" fxLayout="column" class="side-nav">
          <a mat-button appNavButton [matMenuTriggerFor]="menu">рубрики<mat-icon>keyboard_arrow_down</mat-icon></a>
          <a mat-button appNavButton routerLink="/about-us">про нас</a>
          <div *ngIf="auth.editor">
            <a mat-button appNavButton routerLink="/editor">редактор</a>
          </div>
          <a mat-button (click)="sidenav.toggle()" appNavButton>закрити</a>
      </mat-sidenav>

      <mat-sidenav-content class="side-nav-content">
        <div class="main-body">
          <router-outlet></router-outlet>
        </div>

        <mat-toolbar footer class="footer">
          <span class='spacer'></span>
          <a mat-button appNavButton id="how-to" routerLink="become-author">ЯК стати<br/>автором?</a>
          <span class='spacer'></span>
          <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <div>
              <a href="http://www.t.me/pidzemka"target="_blank" ><img src="../assets/images/telegram.png" class="ico background-unique-blue"></a>
              <a href="https://www.facebook.com/naukpop.pidzemka/"target="_blank" ><img src="../assets/images/facebook.png" class="ico background-unique-blue"></a>
            </div>
            <a mat-button appNavButton routerLink="donate">підтримати проект</a>
          </div>
          <span class='spacer'></span>
          <div style="display: flex; flex-direction: column;">
            <a mat-button appNavButton routerLink="about-us">Як стати автором</a>
            <a mat-button appNavButton routerLink="about-us">Як приєднатись до команди</a>
            <a mat-button appNavButton routerLink="about-us">Як стати партнером</a>
          </div>
          <span class='spacer'></span>
        </mat-toolbar>

      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<mat-menu #menu="matMenu" [overlapTrigger]="false"  class="drop-down">
  <a mat-menu-item appNavButtonDrop routerLink="/rubric/гуманітарні науки">гуманітарні науки</a>
  <a mat-menu-item appNavButtonDrop routerLink="/rubric/соціальні науки">соціальні науки</a>
  <a mat-menu-item appNavButtonDrop routerLink="/rubric/техно">техно</a>
  <a mat-menu-item appNavButtonDrop routerLink="/rubric/економіка">економіка</a>
  <a mat-menu-item appNavButtonDrop routerLink="/rubric/мистецтво">мистецтво</a>
  <a mat-menu-item appNavButtonDrop routerLink="weeks">тижні</a>
  <a mat-menu-item appNavButtonDrop routerLink="/rubric/інтерв'ю">інтерв'ю</a>
</mat-menu>
