/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'B52';
  src: url('assets/fonts/B52.eot');
  src: url('assets/fonts/B52.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/B52.woff2') format('woff2'),
  url('assets/fonts/B52.woff') format('woff'),
  url('assets/fonts/B52.svg#B52') format('svg');
  font-weight: normal;
  font-style: normal;
}

.search-dialog mat-dialog-container{
  background-color: rgba( 0, 0, 0, 0) !important;
  max-width: none !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-shadow: 0 0 0 rgba(0,0,0,0) !important;
}
.search-input{
  color: white;
  font-family: B52;
  font-size: 20px;
  padding: 0;
  margin: 0;
  border-width: 0 0 2px 0;
  border-bottom-color: #F5F5F5;
  width: 300px;
  background-color: rgba( 0, 0, 0, 0);
}
.search-input ::placeholder{
  color: white;
}
.search-input textarea:focus,input:focus{
  outline: none;
}
.search-dialog-backdrop{
  background-color: rgba( 0, 0, 0, 0.7) !important;
}
.login-dialog-container app-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
